<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/organizer/venues"></ion-back-button></ion-buttons>
    <ion-title>Add Venue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="venueForm" (ngSubmit)="onSubmit()">
    <div class="field-box">
      <ion-input label="Venue Name" labelPlacement="stacked" formControlName="name"></ion-input>
    </div>
    <div class="field-box">
      <ion-input label="Address" labelPlacement="stacked" formControlName="address"></ion-input>
    </div>
    <div class="field-box">
      <ion-input label="City" labelPlacement="stacked" formControlName="city"></ion-input>
    </div>
    <div class="field-box">
      <ion-input label="Map URL (optional)" labelPlacement="stacked" type="url" formControlName="map_url"></ion-input>
    </div>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="submitting">
      {{ submitting ? 'Saving...' : 'Add Venue' }}
    </ion-button>

    <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>
  </form>
</ion-content>
<app-tab-bar [tabs]="tabs"></app-tab-bar>