<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>EventFlow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EventFlow</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="loading" class="ion-text-center ion-padding">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="!loading && events.length > 0">
    <ion-item *ngFor="let event of events" [routerLink]="['/events', event.id]" button>
      <ion-label>
        <h2>{{ event.name }}</h2>
        <p>{{ event.category?.name }} · {{ event.start_date }}</p>
        <p *ngIf="event.venue">{{ event.venue.name }}, {{ event.venue.city }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <p *ngIf="!loading && events.length === 0" class="ion-text-center ion-padding">
    No events available right now.
  </p>
</ion-content>