<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button
        [defaultHref]="'/organizer/events/' + eventId"></ion-back-button></ion-buttons>
    <ion-title>Edit Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="loading" class="ion-text-center ion-padding"><ion-spinner></ion-spinner></div>

  <form *ngIf="!loading" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <ion-select label="Category" labelPlacement="stacked" formControlName="event_category_id" interface="popover">
      <ion-select-option *ngFor="let category of categories" [value]="category.id">{{ category.name
        }}</ion-select-option>
    </ion-select>

    <ion-select label="Venue" labelPlacement="stacked" formControlName="venue_id" interface="popover">
      <ion-select-option [value]="null">Not set</ion-select-option>
      <ion-select-option *ngFor="let venue of venues" [value]="venue.id">{{ venue.name }}, {{ venue.city
        }}</ion-select-option>
    </ion-select>

    <div class="field-box">
      <ion-input label="Event Name" labelPlacement="stacked" formControlName="name"></ion-input>
    </div>

    <div class="field-box">
      <ion-textarea label="Description" labelPlacement="stacked" formControlName="description" [autoGrow]="true"
        rows="2"></ion-textarea>
    </div>

    <div class="two-col">
      <div class="field-box"><ion-input label="Start Date" labelPlacement="stacked" type="date"
          formControlName="start_date"></ion-input></div>
      <div class="field-box"><ion-input label="End Date" labelPlacement="stacked" type="date"
          formControlName="end_date"></ion-input></div>
    </div>
    <div class="two-col">
      <div class="field-box"><ion-input label="Start Time" labelPlacement="stacked" type="time"
          formControlName="start_time"></ion-input></div>
      <div class="field-box"><ion-input label="End Time" labelPlacement="stacked" type="time"
          formControlName="end_time"></ion-input></div>
    </div>

    <div class="field-box">
      <ion-input label="Capacity (optional)" labelPlacement="stacked" type="number"
        formControlName="capacity"></ion-input>
    </div>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="submitting">
      {{ submitting ? 'Saving...' : 'Save Changes' }}
    </ion-button>

    <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>
  </form>
</ion-content>