<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button
        [defaultHref]="'/organizer/events/' + eventId"></ion-back-button></ion-buttons>
    <ion-title>Add Ticket Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    <div class="field-box">
      <ion-input label="Ticket Name" labelPlacement="stacked" formControlName="name"
        placeholder="e.g. Early Bird, VIP"></ion-input>
    </div>
    <div class="field-box">
      <ion-textarea label="Description (optional)" labelPlacement="stacked" formControlName="description"
        [autoGrow]="true" rows="2"></ion-textarea>
    </div>
    <div class="field-box">
      <ion-input label="Price (Rp)" labelPlacement="stacked" type="number" formControlName="price"></ion-input>
    </div>
    <div class="field-box">
      <ion-input label="Quota" labelPlacement="stacked" type="number" formControlName="quota"></ion-input>
    </div>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="submitting">
      {{ submitting ? 'Saving...' : 'Add Ticket Type' }}
    </ion-button>

    <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>
  </form>
</ion-content>