<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/organizer/events"></ion-back-button>
    </ion-buttons>
    <ion-title>Venues</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/organizer/venues/create">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="loading" class="ion-text-center ion-padding">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let venue of venues">
      <ion-label>
        <h2>{{ venue.name }}</h2>
        <p>{{ venue.city }}</p>
        <p>{{ venue.address }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <p *ngIf="!loading && venues.length === 0" class="ion-text-center">
    No venues yet. Tap + to add one.
  </p>
</ion-content>